# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Local environment
.env

# Models
models/

# Large datasets
data/raw/
data/processed/

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep